* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container-header {
  max-width: 1440px;
}

body {
  font-family: "Red Hat Text", sans-serif;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  background-color: #0D606F;
  border-radius: 10px;
  padding: 10px 30px;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  color: #F2785C;
}

nav {
  background-color: #FFFFFF;
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  width: 100%;
  background-color: rgba(242, 120, 92, 0.7);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btns {
  display: block;
  margin-left: auto;
  margin-right: 120px;
  border-radius: 10px;
}

.header-container {
  max-width: 1440px;
  padding: 0;
  background-image: url("../img/header-background.png");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: auto;
}

.logo {
  margin-left: 120px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  margin-left: 158px;
}

.menu__item-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__item-link:hover,
.menu__item-link:active {
  color: #0D606F;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

footer {
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 13.35px 121px 13.35px;
}

.footer-container {
  background-image: url(../img/stories-background.png);
  background-position: center -1270px;
  background-size: auto;
}

.footer__list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.credits {
  margin-left: auto;
}

.explore-container {
  padding-left: 120px;
  padding-bottom: 300px;
  max-width: 1440px;
  background-image: url(../img/header-background.png);
  background-position: center -90px;
  background-repeat: no-repeat;
  background-size: auto;
}

.explore__item {
  padding-top: 32px;
  max-width: 892px;
}

.explore__title {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.explore__subtitle {
  font-family: "Aleo", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0.3;
}

.explore__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 46px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.explore__btn {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 22px;
  max-height: 59px;
  width: 228px;
  font-size: 24px;
  line-height: 31.75px;
}

.explore__input {
  display: block;
  min-height: 95px;
  min-width: 892px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  font-size: 24px;
  line-height: 28.8px;
  padding-left: 41px;
}

.explore__input:hover {
  color: #0D606F;
}

.explore__input::-webkit-input-placeholder {
  font-family: "Aleo", serif;
  font-weight: 500;
  color: #F2785C;
}

.explore__input::-moz-placeholder {
  font-family: "Aleo", serif;
  font-weight: 500;
  color: #F2785C;
}

.explore__input:-ms-input-placeholder {
  font-family: "Aleo", serif;
  font-weight: 500;
  color: #F2785C;
}

.explore__input::-ms-input-placeholder {
  font-family: "Aleo", serif;
  font-weight: 500;
  color: #F2785C;
}

.explore__input::placeholder {
  font-family: "Aleo", serif;
  font-weight: 500;
  color: #F2785C;
}

.section__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__title {
  width: 100%;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.steps {
  max-width: 1240px;
  padding-bottom: 97px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.steps__item:nth-child(2) {
  margin-left: 20px;
}
.steps__item:nth-child(3) {
  margin-right: 30px;
}

.steps__text {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  text-align: center;
}

.section__destination h2 {
  padding: 0;
}

.destination {
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 1440px;
  gap: 60px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 24px;
}

.destination__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 800px;
  height: 800px;
  border-radius: 16px;
  background-size: cover;
}

.destination__item:nth-child(1) {
  margin-left: -560px;
  background-image: url(../img/Destination_1.jpg);
}

.destination__item:nth-child(2) {
  background-image: url(../img/Destination_2.jpg);
}

.destination__item:nth-child(3) {
  background-image: url(../img/Destination_3.jpg);
}

.destination__text {
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-family: "Red Hat Text", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}

.destination__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
}

.destination__points .point {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: rgba(242, 120, 92, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.destination__points .point:hover,
.destination__points .point:active {
  background-color: #F2785C;
  cursor: pointer;
}

.destination__points .point:nth-child(2) {
  background-color: #F2785C;
}

.destination__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  max-height: 59px;
  width: 228px;
  font-size: 24px;
  line-height: 31.75px;
  padding: 10px, 32px, 10px, 32px;
  margin: 0 auto;
}

.destination__btn:hover a,
.destination__btn:active a {
  color: #F2785C;
}

.destination__btn a {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.stories-container {
  background-image: url(../img/stories-background_faded.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 41px 125px 41px 119px;
}

.stories {
  margin: 0 auto;
  color: #0D606F;
  font-family: "Aleo", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.stories__text {
  width: 750px;
}

.stories_read-more {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.stories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.stories__img {
  height: 250px;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(75, 234, 255, 0.5);
          box-shadow: 0 4px 2px -2px rgba(75, 234, 255, 0.5);
}

.stories__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 20px;
}

.stories__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01px;
  width: 760px;
}

.stories__title {
  padding-top: 75px;
}
.stories__buttton-container{
  margin-top: 10px;
}
footer {
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 13.35px 121px 13.35px;
}

.footer-container {
  background-image: url(../img/stories-background.png);
  background-position: center -1270px;
  background-size: auto;
}

.footer__list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.credits {
  margin-left: auto;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.2s linear;
            animation: fade 0.2s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 2;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "black";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "black";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }

  .nav__btns.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
  }
}

@media screen and (max-width: 991.98px) and (max-width: 991.98px) {
  .menu {
    margin: 0;
  }

  .nav__btns {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}
